<script src="https://cdn.ckeditor.com/4.4.5.1/full-all/ckeditor.js"></script>

<div class="container-fluid pt-5 pb-5">
    <form action="/blog/update/<%- blog.id %>"method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="titleText" class="form-control" value="<%- blog.title %>">
    </div>
    <div class="form-group">
        <label for="preview">Preview Text</label>
        <textarea name="previewText" minlength="350" rows="4" cols="100" class="form-control"><%- blog.previewText %></textarea>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="bodyText" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="category">Select a Category</label>
        <select name="categoryText">
            <option value="AllThingsGreat">AllThingsGreat</option>
            <option value="Sports">Sports</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Outdoors">Outdoors</option>
            <option value="Gaming">Gaming</option>
            <option value="Investments">Investments</option>
            <option value="History">History</option>
          </select>
    </div>
    <div>
        <label for="selectImage">Thumbnail</label>
        <img class="center-cropped" src="<%- blog.imageUrl ? blog.imageUrl : '/images/startup.png' %>">
        <br>
        <input name="imageFile" type="file" disabled>
    </div>
    <br><br>
    <button
        style="color: rgb(0, 0, 0); border-radius: 5px; border: solid 1px; margin-left: 12px">
        Update
    </button>
    </form>
    <br>
    <br>
    <br>
    <H1>Here is a preview of your blog</H1>
    <div id="preview">
        <%- blog.bodyHTML %>
    </div>
</div>

<script>
    const body = document.getElementById("preview").innerHTML
    CKEDITOR.replace( 'bodyText' );
    CKEDITOR.instances.bodyText.setData(body, function() {
        this.checkDirty();
    })
</script>

<style>
    .center-cropped {
            object-position: center; /* Center the image within the element */
            object-fit: cover;
            width: 150px;
            height: 150px;
            border: solid 1px rgb(94, 94, 94);
        }
</style>